spring:
  datasource:
    url: jdbc:h2:mem:task_db
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true

  h2:
    console:
      path: /h2-console
      enabled: true