spring:
  application:
    name: app
  profiles:
    active: ${APP_ENV:dev}

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: ${PORT:8080}

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem